<nav class="sub-navbar">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" routerLinkActive="active">
        <a routerLink="/account/dashboard" class="submenu">Dashboard</a>
      </li>
      <li role="presentation" routerLinkActive="active">
        <a routerLink="/account/service" class="submenu">Service</a>
      </li>
      <li role="presentation" routerLinkActive="active">
        <a routerLink="/account/request" class="submenu">Request</a>
      </li>
      <li role="presentation" routerLinkActive="active">
        <a routerLink="/account/profile" class="submenu">Profile</a>
      </li>
    </ul>
  </div>
</nav>